*{
	list-style-type: none;
}
body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}
body{
	width: 100%;
	min-width: 1000px;
	overflow: hidden;
	background-size: cover;
	background: radial-gradient(black,rgba(0,0,0,0.8),black) no-repeat;
	animation: bj 5s linear infinite;
	   -webkit-animation: bj 5s linear infinite;
	   
	   
}
 @keyframes bj{
	0% { box-shadow:0;}
	
	50% { box-shadow: 10px 10px 200px 5px rgba(100,210,200,0.2) inset,
	  -10px -10px 200px 5px rgba(100,210,200,0.2) inset;}
} 

.content{
	width: 100%;
	position: absolute;
	top: -20px;
}


/* ************标题************ */ 
.content span{
	font-size: 40px;
	color: cadetblue;
	letter-spacing: 10px;
	position: absolute;
	top: 115px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	z-index: 1;
	
	animation: ss 2s linear infinite;
	  -webkit-animation: ss 2s linear infinite;
}

/* ************横沟************ */
.mnue{
	width: 750px;
	height: 80px;
	border-top: 15px solid cadetblue;
	border-right: 15px solid cadetblue;
	transform: skewX(-45deg);
	position: absolute;
	top: 300px;
	left: -60px;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	
	animation: ss 2s linear 0.5s infinite;
	  -webkit-animation: ss 2s linear 0.5 infinite;
}
@keyframes ss{
	0%{ opacity: 1;}
	50%{ opacity: 0.5;}
	100%{opacity: 1;}
}

/* **********圆一************** */
.content-1{
	width: 670px;
	height: 670px;
	border: 8px solid cadetblue;
	border-radius: 50%;
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0.7;
	/* z-index: 1; */
}

.aaa{
	width: 605px;
	height: 605px;
	border-top: 25px solid transparent;
	border-right: 25px solid green;
	border-bottom: 25px solid transparent;
	border-left: 25px solid blue;
	border-radius: 50%;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0.7;
	
	animation:yy 4s linear infinite;
	   -webkit-animation:animation:yuan 4s linear infinite;
}
@keyframes yy{
	0%{transform: rotate(0deg);}
	
	100%{transform: rotate(-360deg);}
}

/* **********圆二************** */
.content-2{
	width: 560px;
	height: 560px;
	border: 15px solid #5F9EA0;
	border-radius: 50%;
	position: absolute;
	top: 93px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0.3;
	/* z-index: 1; */
}

/* **********圆三************** */
.content-3{
	width: 490px;
	height: 490px;
	border-top: 25px solid #5F9EA0;
	border-right: 25px solid transparent;
	border-bottom: 25px solid red;
	border-left: 25px solid transparent;
	border-radius: 50%;
	position: absolute;
	top: 775px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 0.8;
	/* z-index: 1; */
	
	
	animation:yuan 4s linear infinite;
	   -webkit-animation:animation:yuan 4s linear infinite;
	
}
@keyframes yuan{
	0%{transform: rotate(0deg);}
	
	100%{transform: rotate(360deg);}
}

/* ************输入框空间************ */
.content-4{
	width: 380px;
	height: 300px;
	line-height: 70px;
	background-color: #5F9EA0;
	border-radius: 10px;
	opacity: 0.7;
	position: absolute;
	top: 780px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	/* z-index: 1; */
}
.content-4 .list{
	color: white;
	padding-top: 10px;
}
.content-4 input{
	width: 250px;
	height: 40px;
	transform: translateX(60px);
	border-radius: 10px;
	background-color:rgba(0,0,0,0.5);
	color: white;
	border: none;
	text-align: center;
	border: 2px solid red;
}
.content-4 input:last-child{
	color: white;
	background-color: red;
}
.content-4 input:focus{
	border: 2px solid #00FFFF;
}
.content-4 label{
	position: absolute;
	left: 50%;
	transform: translateX(-55%);
}
.content-4 input:focus+label{
	font-size: 13px;
	position: absolute;
	left: 50%;
	transform: translateX(-55%) translateY(-45%);
} 

/* **************键盘************* */


.mnue-1{
	perspective: 800px;
	transform-style: preserve-3d;
}
.jianpan{
	white-space: nowrap;
	width: 900px;
	line-height: 20px;
	position: absolute;
	top: 540px;
	left: 50%;
	transform: translateX(-52%)  rotatex(70deg);
	text-align: center;
}
.jianpan li{
	display: inline-block;
	width: 60px;
	height: 40px;
	margin:-6px 5px;
	background-color: red;
	color: white;
	outline: 2px solid darkgray;
	white-space: nowrap;
	z-index: 0;
	opacity: 0.3;
	
	animation: cc 2s linear infinite;
}


.mnue-1 .jianpan li:hover{
	animation: bb 0.6s linear  infinite;
	opacity:0.8;
}

@keyframes cc{
	0%{ background-color: red;}
	
	40%{ background-color: green;}
	
	70%{ background-color: blue;}
	
	100%{ background-color: red;}
}
@keyframes bb{
	0%{ background-color: red;}
	
	40%{ background-color: green;}
	
	70%{ background-color: blue;}
	
	100%{ background-color: red;}
}